@page
@{
    ViewData["Title"] = "Game Over";
   // var finalScore = Context.Session.GetInt32("Score") ?? 0;
}

<h2>Game Over!</h2>
<p>Your final score: <strong>finalScore</strong></p>
<a href="/SalaryGuess">Play Again</a>